{% comment %} Add "load static so the stylesheet can be used" {% endcomment %}
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>BembeChat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/base_Page.css'%}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    
    </head>
<body>
      <h1>Hello World!</h1>
      <a class="waves-effect waves-light btn">Stuff</a>

</body>
</html>