{% extends 'bembechat/base_page.html' %}
{% block title %}Sign up | {% endblock %}

{% block content %}

<!DOCTYPE html>
{% comment %} Add "load static so the stylesheet can be used" {% endcomment %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/signup_page.css'%}" />
    </head>
    <body>
        <form method="post" action="."> 
            {% csrf_token %}
            <div>
                <label for="">Username</label><br>
                <input type="textselect" id="username" placeholder="Username" name="username" autocomplete="off">
            </div>
            
        </form
    </body>
</html>

{% endblock %}