{% extends 'bembechat/base_page.html' %}
{% block title %}Sign up | {% endblock %}

{% block content %}

<!DOCTYPE html>
{% comment %} Add "load static so the stylesheet can be used" {% endcomment %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/signup_page.css'%}" />
    </head>
    <body>
        <div class="container">
			{% comment %} <form method="POST" class="form"> {% endcomment %}
				<h1>New Post</h1>
				<form method="POST" class="form" validate>
					{% csrf_token %}
					
					{% for hidden_field in form.hidden_fields %}
					  {{ hidden_field }}
					{% endfor %}
					
					{% for field in form.visible_fields %}
					  <div class="form-group">
						{{ field.label_tag }}
						{% comment %} {% render_field field class="form-control" %} {% endcomment %}
						{% if field.help_text %}
						  <small class="form-text text-muted">{{ field.help_text }}</small>
						{% endif %}
					  </div>
					{% endfor %}
				<button type="submit" class="btn btn-primary" href="/">
					Post
				</button>
			</form>
		</div>
    </body>
</html>

{% endblock %}