<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" class="form" validate>
        {% csrf_token %}
        
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary" href="/">
        Post
    </button>
</form>
</body>
</html>