@media screen and (max-width: 3000px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 73rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 55rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 80rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 75rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.1rem;
    display: flex;
    gap: 61rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 1440px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 73rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 55rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 80rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 75rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.1rem;
    display: flex;
    gap: 61rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 1366px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 73rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 55rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 80rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 75rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.1rem;
    display: flex;
    gap: 61rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}


@media screen and (max-width: 1280px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 73rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 55rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 80rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 75rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.1rem;
    display: flex;
    gap: 61rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}


@media screen and (max-width: 1024px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 56vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 57rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 40rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 65.2rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 61rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.6rem;
    display: flex;
    gap: 40.2rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 960px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 57rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 40rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 65.2rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 61rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    left: -0.2rem;
    display: flex;
    gap: 46.2rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 800px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 47rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 30rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 53.9rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 49.5rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.5rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.5rem;
    width: auto;
  }

   /* Edit and Delete  buttons container*/
   .editanddeleteroom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    display: flex;
    gap: 32.5rem;
    justify-content: space-around;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 720px) {
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 40rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 24rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 49.3rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 45rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.2rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: 8rem;
  }

  /* Edit and Delete  buttons container*/
  .editAndDeleteRoom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    gap: 52vw;
    top: 5rem;
    display: flex;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

@media screen and (max-width: 480px){
  /* Room name */
  .title {
    text-align: center;
    color: rgb(205, 220, 235);
    position: relative;
    top: -1.5rem;
    width: 50vw;
  }

  /* The username used to to figure out who should be able to delete the room */
  .username{
    display: none;
  }

  /* Username and date */
  .user-name-and-data{
    display: flex;
  }

  /* User avatar */
  .avatar{
    height: 1rem;
  }

  .date {
    font-size: 1.1rem;
    color: #aaa;
    transform: translateX(0.5rem);
  }

  h6{
    color: white;
  }

  .username-text {
    font-size: 1.3rem;
    color: rgb(183, 178, 178);
    width: 2rem;
  }

  .user-icon {
    text-align: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    color: rgb(162, 157, 157);
  }

  /* user icon and username */
  .user {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0.5rem;
    margin-right: 3rem;
  }

  /* All Chat messages container */
  .chat-messages {
    justify-content: center;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    max-height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: -1rem;
    position: relative;
    top: 2rem;
  }

  /* single card */
  .card2 {
    color: aliceblue;
    font-size: 1.3rem;
    width: 26rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  /* date-dots-trash */
  .date-dots-trash{
    display: flex;
    gap: 1rem;
    position: relative;
    left: 9rem;
  }

  /* card and person icon */
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
    border: 2px solid #5c80a0;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 5px;
    width: 33rem;
  }

  /*  input box at the bottom of the page */
  #chat-message-input {
    font-size: 1.3rem;
    color: lightgray;
    width: 29rem;
    padding: 1rem;
    color: rgb(23, 33, 207);
    border-radius: 1rem;
  }

  /* Send button */
  .send-button {
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(58, 101, 182);
  }

  /* Message box and send button */
  .input-and-button {
    align-items: center;
    display: flex;
    gap: 0.01rem;
    position: relative;
    top: 2rem;
    margin-top: 1rem;
  }

  /* Edit and delete button divs. */
  .edit-room, .delete-room{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    background-color: rgb(172, 108, 83);
    padding: 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    top: 1.5rem;
  }

  /* Edit and delete room icons */
    .edit-room-icon, .delete-room-icon {
      font-size: 1.2rem;
    }

    /* Edit room icons */
    .edit-room-icon {
      font-size: 1.5rem;
    }

  /* Edit and delete room texts*/
  #edit-room-text, #delete-room-text{
    font-size: 1.2rem;
    width: 8rem;
  }

  /* Edit and Delete  buttons container*/
  .editAndDeleteRoom {
    margin: 0 auto;
    position: relative;
    top: 5.5rem;
    gap: 30vw;
    left: -13.8rem;
    display: flex;
    align-items: center;
    visibility: hidden;
  }

  /* Date, delete and dots */
  .date-and-delete-buttons {
    display: flex;
  }

  /* Edit and delete massage buttons */
  .delete-message-button {
    color: lightgray;
    gap: 2rem;
    display: flex;
    text-decoration: none;
    z-index: -1;
  }

  /*  Remove decoration from anchors */
  a {
    color: lightgray;
    text-decoration: none;
  }

  /* three dots */
  .dots{
  font-size: 2rem;
  color: lightgray;
  }

  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(15rem);
  }

  body {
    max-height: 100vh;
    background-color: rgb(2, 9, 60);
  }
}

