/* Room name */
.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(205, 220, 235);
  position: relative;
  top: -2rem;
}

/* .username{
  display: none;
} */

/* Username and date */
.user-name-and-data{
  display: flex;
}

/* User avatar */
.avatar{
  height: 1rem;
}

.date {
  font-size: 1.1rem;
  color: #aaa;
}

h6{
  color: white;
}

.username-text {
  font-size: 1.3rem;
  color: rgb(183, 178, 178);
  width: 2rem;
}

.user-icon {
  text-align: center;
  font-size: 1.5rem;
  background-color: aliceblue;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  color: rgb(162, 157, 157);
}

/*  input box at the bottom of the page */
#chat-message-input {
  font-size: 1.3rem;
  color: lightgray;
  width: 54rem;
  padding: 1rem;
  color: rgb(23, 33, 207);
  border-radius: 1rem;
}

/* card and date */
/* .card-and-date {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
} */

/* user icon and username */
.user {
  justify-content: center;
  align-items: center;
  /* width:5rem; */
  flex-direction: column;
  display: flex;
  position: relative;
  top: 0.5rem;
  margin-right: 3rem;
}

button {
  border-radius: 1rem;
}

.send-button {
  font-size: 2.5rem;
  padding: 0.5rem;
  background-color: rgb(58, 101, 182);
}

/* All Chat messages container */
.chat-messages {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 0 1rem;
  max-height: 68vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 60rem;
  padding-top: -1rem;
}

/* single card */
.card2 {
  color: aliceblue;
  font-size: 1.3rem;
  width: 50rem;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow-wrap: break-word;
  position: relative;
  top: -1rem;
  left: -0.4rem;
}

/* date-dots-trash */
.date-dots-trash{
  display: flex;
  gap: 1rem;
}

/* card and person icon */
.card-container {
  /* justify-content: center; */
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-top: 0.3rem;
}

/* The entire card */
#card-container {
  border: 2px solid #5c80a0;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 10px 0;
}

.input-and-button {
  justify-content: center;
  gap: 0.2rem;
  display: flex;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 2rem;
}

.body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Edit and Delete  buttons container*/
.editAndDeleteRoom {
  position: relative;
  top: 5.5rem;
  gap: 40rem;
  display: flex;
  visibility: hidden;
}

.edit-room, .delete-room{
  background-color: rgb(172, 108, 83);
  padding: 0.2rem;
  border-radius: 0.2rem;
  float: left;
}

/* Date, delete and dots */
.date-and-delete-buttons {
  display: flex;
  gap: 32.5rem;
}


/* Edit and delete massage buttons */
.delete-message-button {
  color: lightgray;
  gap: 2rem;
  display: flex;
  text-decoration: none;
  z-index: -1;
}

/* Edit message button */
.edit-message {
  color: lightgray;
}

a {
  color: lightgray;
  text-decoration: none;
}

/* three dots */
.dots{
font-size: 2rem;
color: lightgray;
}

body {
  background-color: rgb(2, 9, 60);
}
