@media screen and (min-width: 3000px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 4em;
        width: 40rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 50rem;
        width: 50rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (min-width: 1440px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 3em;
        width: 40rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 1366px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 3em;
        width: 40rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 1280px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 3em;
        width: 40rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 1024px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 1024px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 960px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 800px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 720px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 30rem;
        width: 30rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}

@media screen and (max-width: 480px) {
    /* App name */
    h1{
        text-align: center;
        font-size: 2.5em;
        width: 20rem;
        color: rgb(214, 240, 21);
        position: relative;
        top: -2rem;
    }

    /* App's logo in the body ONLY */
    .logo-welcome-page{
        height: 25rem;
        width: 25rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-welcome-page{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* This contains the App's name and logo */
    .container{
        justify-items: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        padding: 5rem;
    }

    /* Add a background image to the welcome page */
    body {
        background-color: rgb(85, 98, 116);
    }
}




