{% extends 'bembechat/base_page.html' %}
{% block title %}Welcome | {% endblock %}

{% block content %}

<!DOCTYPE html>
{% comment %} Add "load static so the stylesheet can be used" {% endcomment %}
{% load static %}

<html>
    <head>
        <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="{% static 'css/welcome_page.css'%}" />
    </head>
    <body>
        <div class="container bg-black">
            <h1>BembeChat App</h1>
            <img class="app-logo app-image" src="https://i.imgur.com/bLsbDoC.png" alt="app-logo">
        </div>
    </body>
</html>

{% endblock %}






