
/* Nav-bar */
.nav-wrapper{
      padding: 0 0.5rem 0 1rem;
      justify-content: center;
      background-color: rgb(204, 106, 106);
}

/* app logo in the nav-bar */
.app-logo{
      height: 50px;
      width: 50px;
      margin: 5px 0 5px 2px;
      border-radius: 10px;
}

/* user icon circle*/
.user-circle{
      height: 40px;
      width: 40px;
      margin: 2px;
      background-color: lightgrey;
      /* margin: 6px 0 5px 2px; */
      /* border-radius: 400px; */
      margin: 10px 0;
}


/* Body */
body{
background-color: rgb(9, 122, 99);
}