/* .btn {
    width: 100px;
    margin-top: 1rem;
    
} */
.sign-up-form-button{
    background-color: rgb(54, 128, 165);
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 2.5rem;
}

/* #title{
    position: relative;
    top: 16rem;
} */

.container {
    margin: 0 auto;
    /* margin-top: 50vh;
    position: relative;
    top: -140px; */
}

 .form {
      background-color: antiquewhite;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* gap: 0.2rem; */
      display: flex;
      width: 20rem;
      /* margin: 0 auto;
      margin-top: 50vh;
      position: relative;
      top: -220px; */
      padding: 1rem 0rem;
      border-radius: 10%;
      box-shadow: 20px 20px 20px 20px rgb(12, 13, 0);
  }

  /* This div contains bot the title and the form */
  .form-container{
    flex-direction: column; 
    align-items: center;
    display: flex;
  }
  
/* Labels */
label{
    font-size: 1.5em;
    color: black;
}

#password, #username{
    font-size: 1.5em;
    border: 1px solid rgb(14, 14, 14);
    width: 15rem;
    padding-left: 1rem;
    background-color: white;
}



button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* .form {
    padding: 20px;
    background-color: antiquewhite;
    width: 20rem;
    margin: 0 auto;
    margin-top: 50vh;
    position: relative;
    top: -200px;

    
} */