.btn {
    width: 100px;
    margin-top: 1rem;
}

h1 {
    text-align: center;
    color: antiquewhite;
    ;

}

.container {
    margin: 0 auto;
    margin-top: 50vh;
    position: relative;
    top: -240px;
}

 .form {
      background-color: antiquewhite;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      display: flex;
      width: 15rem;
      margin: 0 auto;
      margin-top: 50vh;
      position: relative;
      top: -200px;
      padding: 1rem 0rem;
  }
  
/* Labels */
label{
    font-size: 1.5em;
}

input{
    font-size: 1.5em;
}



button {
    margin-top: 1rem;
}

/* .form {
    padding: 20px;
    background-color: antiquewhite;
    width: 20rem;
    margin: 0 auto;
    margin-top: 50vh;
    position: relative;
    top: -200px;

    
} */