/* Add a background image to the welcome page */
body{
    height: 80vh;
    background-image: url("https://i.imgur.com/BoKAdbQ.png");
    background-size: cover;
   background-position: center center;
   background-size: cover;
}
h1{
    color: rgb(21, 255, 0)
}