/* Add a background image to the welcome page */
body {
    /* background-image: url("https://i.imgur.com/BoKAdbQ.png");
    background-repeat: no-repeat;
    background-position: center center; */
    /* background-image: url("https://i.imgur.com/BoKAdbQ.png"); */
    background-color: bisque;
}

h1 {
    color: rgb(34, 20, 198)
}