/* App name */
h1{
    font-size: 3em;
}

/* This contains the App's name and logo */
.container{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    padding: 5rem;

}

/* Add a background image to the welcome page */
body {
    background-color: rgb(85, 98, 116);
}

