
/* Room name */
.title {
      font-size: 3rem;
      text-align: center;
      color: rgb(6, 130, 246);

}

.user-icon{
      position: relative;
      top: -1rem;
}

/* single card */
.card1, .card2{
      font-size: 1.3rem;
      width: 65rem;
      background-color: rgb(247, 212, 151);
      padding: 1rem; 
}

/* single card */
.card2{
      font-size: 1.3rem;
      width: 65rem;
      background-color: rgb(247, 212, 151);
      padding: 1rem; 
}

/* card and person icon */
.card-container{
      justify-content: flex-end;
      align-items: center;
      display: flex;
      padding: 1rem;
      gap: 1.5rem;
}

body{
      background-color: rgb(85, 98, 116);
      }

