
/* Room name */
.title {
      font-size: 3rem;
      text-align: center;
      color: rgb(205, 220, 235);

}

.user-icon{
      position: relative;
      top: -0.6rem;
}

/* single card */
.card1, .card2{
      font-size: 1.3rem;
      width: 65rem;
      background-color: rgb(247, 212, 151);
      padding: 1rem;
      border-radius: 1rem; 
}

/* single card */
.card2{
      font-size: 1.3rem;
      width: 65rem;
      background-color: rgb(70, 127, 226);
      padding: 1rem; 
}

/* card and person icon */
.card-container{
      justify-content: flex-end;
      align-items: center;
      display: flex;
      padding: 1rem;
      gap: 1.5rem;
}

body{
      background-color: rgb(26, 8, 225);
      }

