.single-room{
      justify-content: center;
      flex-direction: column;
      display: flex;
      background-color: rgba(255, 255, 255, 0.5);
}

.join{
      font-size: 1.5rem;
      background-color: green;
      text-align: center;
      margin: 0.5em 0.5em 0.5em 0.5em;
      border-radius: 2rem;
      background-image: radial-gradient(rgb(0, 255, 30), yellow, blue);
}

.container{
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      display: flex;
}