.single-room {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      background-color: rgba(255, 255, 255, 0.5);
      width: 20rem;
      border-radius: 0.5rem;
}

.title {
      font-size: 3rem;
      text-align: center;
      color: rgb(8, 243, 196);

}

.room-name {
      font-size: 2rem;
}

.join {
      font-size: 1.5rem;
      background-color: rgb(92, 128, 0);
      text-align: center;
      margin: 0.5em 0.5em 0.5em 0.5em;
      border-radius: 0.5rem;
      width: 10rem;
      color: antiquewhite
}

.rooms-container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      display: flex;
      margin: 0 1rem;
}