
/* Room name */
.title {
      font-size: 3rem;
      text-align: center;
      color: rgb(6, 130, 246);

}

/* The icon inside the circle */
.user-icon{
     
      font-size: 2.5rem;
      position: relative;
      top: -0.2rem;
}

/* The circle around the user's icon */
.user-circle{
      text-align: center;
      height: 2rem;
      width: 2rem;
      background-color: rgb(6, 130, 246);
}

/* single card */
.card{
      font-size: 1.2rem;
      width: 60rem;
      background-color: rgb(247, 212, 151);
      padding: 0.2rem;
}

/* card and person icon */
.card-container{
      justify-content: baseline;
      align-items: center;
      display: flex;
      gap: 1.5rem;
}

body{
      background-color: rgb(85, 98, 116);
      }

