/* Nav-bar */
.nav-wrapper{
      padding: 0 0.5rem 0.5rem 1rem;
      justify-content: center;
      background-color: rgb(49, 116, 10);
}

/* Links in the nav-bar */
.waves-effect{
    background-color: red;
}

/* app logo in the nav-bar */
.app-logo{
      height: 60px;
      width: 60px;
      margin: 2px 0px 0px 2px;
      border-radius: 10px;
}

/* App's logo */
  /* Source: https://www.tech-wiki.online/en/rotate-image.html */
  .app-logo{
      animation: rotation 60s infinite linear;
  }

  @keyframes rotation {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(359deg);
      }
  }

/* user circle*/
.user-circle{
     font-size: 40px;
}

/* Texts in the nav bar */
#texts-in-nav{
      font-size: 18px;
}

/* App name */
h1{
      font-size: 3em;
      color: rgb(214, 240, 21);
  }

#add-rooms-logout{
    color: white;
    background-color: rgb(45, 127, 126);
}

  a{
    text-align:center;
  }

  /* This contains the App's name and logo */
  .container{
      justify-items: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      margin: 0 auto;
      padding: 5rem;
  }

/* Body */
body{
background-color: rgb(85, 98, 116);
}