@media screen and (max-width: 3000px) {

    /* navbar */
    #navbar {
        width: 100vw;
        height: fit-content;
        padding: 0.8rem 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 3rem;
        position: relative;
        top: 0.3rem;
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 6rem;
        width: 6rem;
        border-radius: 10px;
        position: relative;
        top: 0rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 3.7rem;
        position: relative;
        top: -0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 2rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}


@media screen and (max-width: 1440px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 3.8rem;
        width: 3.8rem;
        margin: 0.25rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.3rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.7rem;
        position: relative;
        top: -0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.4rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 1366px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 3.8rem;
        width: 3.8rem;
        margin: 0.25rem 0rem 0rem 2px;
        border-radius: 10px;
    }

     /* This div contains all buttons and texts in the nav bar */
     .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.3rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.7rem;
        position: relative;
        top: -0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.4rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 1280px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

/* This div contains all buttons and texts in the nav bar */
.nav-content{
    display:flex;
    align-items: baseline;
    gap: 0.3rem;
}

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 3.8rem;
        width: 3.8rem;
        margin: 0.25rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.7rem;
        position: relative;
        top: -0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.4rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 4rem;
        width: 4rem;
        margin: 0.3rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.3rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.5rem;
        position: relative;
        top: -0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.2rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 960px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 4rem;
        width: 4rem;
        margin: 0.3rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.3rem;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.5rem;
        position: relative;
        top: 0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.2rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.1px;
    }

    .logo-nav-bar{
        height: 4rem;
        width: 4rem;
        margin: 0.3rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }


    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.5rem;
        position: relative;
        top: 0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username{
        font-size: 1.2rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}


@media screen and (max-width: 720px) {

    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0 1.5rem 0.5rem 1.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        display:flex;
        align-items: baseline;
        gap: 0.1px;
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 4rem;
        width: 4rem;
        margin: 0.3rem 0rem 0rem 2px;
        border-radius: 10px;
    }

    /* App's logo in the nav-bar and body */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    .user-circle{
        font-size: 2.5rem;
        position: relative;
        top: 0rem;
    }

    #signup, #signin, #rooms, #add-room, #logout, #username {
        font-size: 1.5rem;
        text-align:center;
        text-decoration:none;
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    /* navbar */
    #navbar {
        width: 100vw;
        padding: 0.2rem 0.2rem 0.2rem 0.5rem;
        background-color: rgb(49, 116, 10);
    }

    /* This div contains all buttons and texts in the nav bar */
    .nav-content{
        font-size: 12px;
        display:flex;
        align-items: baseline;
        gap: 0.01px;
    }

    /* app logo in the nav-bar  */
    .logo-nav-bar{
        height: 3.5rem;
        width: 3.5rem;
        /* margin: -0.25rem 0rem 0rem 0rem; */
        border-radius: 10px;
    }

    /* App's logo */
    /* Source: https://www.tech-wiki.online/en/rotate-image.html */
    .logo-nav-bar{
        animation: rotation 60s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    /* user circle*/
    #user-circle{
        font-size: 1rem;
        position: relative;
        top: .2rem;
    }

    /* App name */
    h1{
        font-size: 3em;
        color: rgb(214, 240, 21);
    }

    #signup, #signin, #add-room, #rooms, #logout, #username{
        font-size: 1rem;
        text-align:center;
        text-decoration:none;
        position: relative;
        top: -0.5rem;
        left: 0.5rem;
        /* margin-right: 0.01rem; */
    }

    #signup:hover, #signin:hover, #rooms:hover, #add-room:hover, #logout:hover{
        color:rgb(243, 11, 11);
    }

    #username{
        font-weight: bold;
    }

    #add-rooms-logout{
        color: white;
    }

    a{
        text-align:center;
        text-decoration:none;
    }

    /* Body */
    body{
        background-color: rgb(85, 98, 116);
    }

}





















